/* --------------------R-O-W-S------------------- */

.row
{
	clear: both;
	overflow: hidden;
}

.row--white { background: #fff; }
.row--grey { background: #f8f8f8; }
.row--red { background: #fb4a4a; }

.row--dark-grey
{
	color: #fff;
	background: #282e37; /*Old*/
	background: #13181b;
}

/* row-padding */
.row--padding-medium
{
	padding-top: 2.1875em;
	padding-bottom: 2.1875em;
	/* 35px/16px */
}

.row--padding-wide
{
	padding-top: 2.1875em;
	padding-bottom: 2.1875em;
	/* 35px/16px */
}


/* --------------------C-O-N-T-A-I-N-E-R-S------------------- */
.container-narrow,
.container-medium,
.container-wide
{
	margin: 0 auto;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.container-narrow { max-width: 34em; }
.container-medium { max-width: 52em; }
.container-wide { max-width: 70em; }



/* --------------------C-O-L-O-U-M-N-S------------------- */
.col--three{
}
.col-narrow,
.col-narrow--right { margin-bottom: 1.5em; }
.col-narrow,
.col-medium{width: 100%;}



/* --------------------W-I-D-E------------------- */
@media (min-width: 48em)
{
	.row--padding-medium
	{
		padding-top: 3.8889em;
		padding-bottom: 3.8889em;
		/* 70px/18px */
	}
	
	.row--padding-wide
	{
		padding-top: 5.5556em;
		padding-bottom: 5.5556em;
		/* 100px/18px */
	}
	
	.container-narrow,
	.container-medium,
	.container-wide
	{
		padding-left: 2em;
		padding-right: 2em;
	}
	
	.col-narrow,
	.col-medium,
	.col-wide { float: left; }
	.col-narrow--right,
	.col-wide--right { float: right; }
	
	.col-wide,
	.col-wide--right { width: 61%; }
	
	.col-medium { width: 50%; }
	
	.col-narrow,
	.col-narrow--right
	{
		width: 25%;
		margin-bottom: 0;
	}
}

/* --------------------F-O-O-T-E-R--------------------- */

footer p{ padding-top: 1.152em;  padding-bottom: 1.152em; }