.banner{
    height: 100%;
    padding:1em;
/*    background-image: linear-gradient(0deg,#92257f,#5227bf);*/
    background: url('img/bg/pexels-photo-226721 (2).jpeg') #fb4a4a center no-repeat;
    background-size: cover;
    background-attachment:local;
/*    opacity: 0.8;*/
    color: #da2525;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #333;
    background: rgba(0, 0, 0, 0.88);
    padding: 0.5em 0;
}
.header__logo, .header__nav{
    color:#fff;
    display: inline-block;    
}

.header__nav{
    width: 100%;
    float: none;
    overflow: visible;
}
.nav{
    padding: 1em 0.5em;
}

.nav__ul, .nav__li, .nav__li a {
    display: block;
}

.nav__li{
    font-size: 1.2em;
}

.nav__li a{
    padding: 1em;
    background: red;
}

.nav__dropdown{
    display: none;
    position: unset;
    left: auto;
    top: auto;
    width: auto; 
    background: rgba(0, 0, 0, 0.85);
}

li.nav__dropdown--item{
    opacity: 0;
    transform: translate3d(-7px, -20px, 0);
    transition: 0.4s ease;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
/*    background: red;*/
/*    padding: 1.2em 0;*/
}
li.nav__dropdown--item a{
    background: transparent;
    display: block;
    transition: all 0.3s ease;
}

li.nav__dropdown--item a:hover{
    left: 2em;
    background: red;
}

li.nav__dropdown--item.item--open{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav__dropdown li:nth-child(1) {
    transition-delay: .55s;
}
.nav__dropdown li:nth-child(2) {
    transition-delay: .44s;
}
.nav__dropdown li:nth-child(3) {
    transition-delay: .33s;
}
.nav__dropdown li:nth-child(4) {
    transition-delay: .22s;
}
.nav__dropdown li:nth-child(5) {
    transition-delay: .11s;
}

#trigger__wrapper{
    display: inline-block;
    float: right;
	position: relative;
    z-index: 6;
    width: 58px;
    height: 58px;
}

#trigger__wrapper{
    display: none;
}

#trigger__wrapper.mobile{
    display: block;
}

.bars{
    display: block;
    padding: 14px;
    position: absolute;
    transition: all 0.5s ease;
    top: 14px;
    left: 14px;
    z-index: 5;
}

.bars span{
    content:'';
    position: absolute;
    display: block;
    width: 28px;
    height: 2px;
    background: #ffffff;
    left: 0;
    transition:all 0.3s cubic-bezier(0.58, 0.41, 0.32, 0.64);
    transition-delay: 0.2s;
}

.bars .bars-top{
    top:10px;
}
.bars .bars-bottom{
    top: 18px;
}

#trigger.expanded{
    transform: rotate(-90deg);
}
#trigger.expanded .bars-top{
    left: 0px;
    top:12px;
    transform: rotate(-45deg);
}
#trigger.expanded .bars-bottom{
    left: 0px;
    top:12px;
    transform: rotate(45deg);
}



/* --------------------C-O-N-T-E-N-T--------------------- */

.content{
    text-align: center;
}

.content__title{
    display: inline-block;
    padding-bottom: 0.8em;
    position: relative;    
    font-weight: bold;
    color: #fb4a4a;
}

.content__title:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0.4em;
    height: 2px;
    background: #333;
}

.wrapper{
    position: relative;
    display: table;
/*    width: 100%;*/
    overflow: hidden;
}

.wopper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    position: relative;
    padding-bottom: 50%; /*Maintaining Aspect Ratio*/
    overflow: hidden;
}

.wopper:after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
}

.wopper--rafting{background: url(img/rafting-883523_1280.jpg) center no-repeat; background-size: 100%;}
.wopper--paragliding{background: url(img/paragliding-2965247_1920.jpg) center no-repeat; background-size: 100%;}
.wopper--trek{background: url('img/bg/trekking-2264703_1280.jpg') center no-repeat ; background-size: 100%;}
.wopper--camp{background: url('img/bg/camp%20(1).jpeg') center no-repeat ; background-size: 100%;}
.wopper--bike{background: url('img/pexels-photo-207171 (2).jpeg') center no-repeat; background-size: 100%;}
.wopper--gypsy{background: url('img/desert-2423177_1280.jpg') center no-repeat; background-size: 100%;}

.wopper__title{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.wopper__title span{
    display: table-cell; 
    vertical-align: middle;
    opacity: 0;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    transform: scale(0.2);
    transition: all 0.5s ease;
}

.wrapper:hover > .wopper{
    cursor: pointer;
    transform: scale(1.3);
}

.wrapper:hover >.wopper:after{
    opacity: 0.8;
}

.wrapper:hover > .wopper span{
    opacity: 0.8;
    transform: scale(1.1);
}

/* --------------------F-O-O-T-E-R--------------------- */

.footer{
    color: #fdfdfd;
    background: #fb4a4a;
    background: #222;
    padding-top: 2em;
    padding-bottom: 5em;
    font-family: sans-serif;
}

.footer__header{
    font-size: 1.3em;
    font-weight: 600;
    padding: 0 0 1.2em 0;
    position: relative;
    color: #fbfbfb;
}
.footer__header:after{
    text-align: center;
    content: '';
    position: absolute;
    bottom: 0.7em;
    width: 50px;
/*    width: 80%;*/
    height: 2px;
    left:0em;
    background: #fff;
}

.footer__content{
    display: block;
    font-size: 1em;
    font-weight: 400;
}

.footer__content-item{
    color:#cacaca;
    padding: 0.5em 0;
}

.copyright{
    padding-top: 2em;
	font-size: 0.9em;
    text-align: center;
}
.copyright__sign:after{ content:'\00a9'; }
.footer__content a:hover,
.copyright a:hover{
    color: #222;
/*    text-decoration: underline;*/
    transition: all 0.2s ease;
    box-shadow: inset 0px -20px 0 0 #fff;
}


@media(min-width:48em)
{
    .header__nav{
        width: auto;
        float: right;
    }
    
    .copyright{
        text-align: left;
    }
    .nav__dropdown{
        position: absolute;
    }
    .nav__li{    
        display: inline-block;
    }
}