---
layout: 'default'
author_name : " THE TRIPPY FROG "
tags : "BlogPostHimachalPradesh"
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ page.author_name | jsonify }},
    "email": {{ site.email | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "{{ site.url }}/icon/favicon.ico"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ page.custom_bg | default: site.img }}"
},
  "sameAs": [
   "https://www.facebook.com/thetrippyfrog/",
   "https://twitter.com/thetrippyfrog",
   "https://www.instagram.com/thetrippyfrog/",
   "https://www.linkedin.com/in/thetrippyfrog/",
   "https://in.pinterest.com/thetrippyfrog/",
   "https://thetrippyfrog.com/"
]
}
</script>


<!--<div class="container--white">-->
<div class="row row--padding-wide container-wide content__pg content__pg-black" style="padding-top: 6em;">
	<!--Main Posts-->
	<div class="row--pading-medium col--post">
		{% if page.custom_bg %}
			{% for img in page.custom_bg %}
				{% assign path = 'assets/css/images/' | append: img | relative_url%}
				<img class="post-banner" src="{{ path }}" style="background-image:url('{{ path }}');">
			{% endfor %}
		{% else %}
			{% assign path = 'assets/css/images/welcome.jpeg' | relative_url%}
				<img class="post-banner" src="{{ path }}" style="background-image:url('{{ path }}');">
		{% endif %}

		<div class="post">
			<div class="post-categories-list">
				{% if post %}
					{% assign categories = post.categories %}
				{% else %}
					{% assign categories = page.categories %}
				{% endif %}
				{% for category in categories %}
<!--					<a class="post-tags" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>-->
					<a class="post-tags">{{category}}</a>
				{% unless forloop.last %}&nbsp;{% endunless %}
				{% endfor %}
			</div>

			<h1 class="content__sub-title post-title">{{ page.title }}</h1>
			<p class="post-meta">{{ page.date | date_to_string }} - {{ page.author }}</p>
			<br />
			<hr />
			<div class="post-content row--padding-medium">
				<p>{{ content }}</p>
			</div>
		</div>
	</div>

	<!--Recent Posts-->
	<div class="row--pading-medium col--recent-post" style="padding: 0 1em; text-align: justify;">
		<h1 class="content__sub-title" style="padding-top: 0; padding-bottom: 0; margin-bottom: 0; color: #333;">RECENT POSTS</h1>
		{% for post in site.posts offset:0 limit:5 %}
			{% if post.url != page.url %}
				{% if post %}
				<h2 class="content__sub-title blogpost-title" style="font-size: 1em;font-weight: lighter; font-family: 'OSWALD', sans-serif; color: #333; opacity: .85;">
					<a href="{{ post.url }}">
						<img src="/assets/css/images/{{ post.custom_bg }}" style="width: 100%;">
					</a><br />
					<a href="{{ post.url }}">{{ post.title }}</a>
					<span><a class="blog-read-btn" href="{{ post.url}}" title="READ">Read</a></span>
			  	</h2>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>


<script>
 		document.getElementById("header").className += ' headerBlack';
</script>
