---
layout: 'default'
slick_css: 'Yes'
slick_js: 'Yes'
author_name : " THE TRIPPY FROG "
tags : "Trekkings,HimachalPradesh"
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ page.author_name | jsonify }},
    "email": {{ site.email | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "{{ site.url }}/icon/favicon.ico"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/assets/css/images/{{ page.custom_bg | default: site.img }}"
},
  "sameAs": [
   "https://www.facebook.com/thetrippyfrog/",
   "https://twitter.com/thetrippyfrog",
   "https://www.instagram.com/thetrippyfrog/",
   "https://www.linkedin.com/in/thetrippyfrog/",
   "https://in.pinterest.com/thetrippyfrog/",
   "https://thetrippyfrog.com/"
]
}
</script>
<style>
	body{
		height: 100% !important;
	}
</style>
{% if page.custom_bg %}
    {% for img in page.custom_bg %}
        {% assign path = 'assets/css/images/' | append: img | relative_url%}
        <div class="banner__trek parallax" style="background-image:url('{{ path }}');">
    {% endfor %}
{% else %}
    {% assign path = 'assets/css/images/welcome.jpeg' | relative_url%}
        <div class="banner__trek parallax" style="background-image: url('{{ path }}')">
{% endif %}
			<span class="banner__overlay"></span>
			<div class="banner__trek-overview">
				<p class="trek-name">{{ page.title }}</p>
				<p class="trek-time">
					{% if page.days %}
					<span class="trek-time--part1">
						<span class="trek-span"><span class="counter">{{ page.days }}</span><span>&nbsp;Days</span></span>
					</span>
					<span class="trek-time--part2">
						<span class="trek-span"><span class="counter">{{ page.nights }}</span><span>&nbsp;Nights</span></span>
<!--						<span><span class="counter">{{ page.days }}</span><span>&nbsp;Days</span></span>-->
<!--						<span class="counter">{{ page.nights }}</span><span>&nbsp;Nights</span>-->
					</span><br />
					{% endif %}
<!--					<span class="trek-price"><span style="font-size: 90%;">From</span> INR 7,000</span>-->
					<span class="trek-slide--price trek-price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> {{ page.price }}/-</span>
				</p>

			</div>

			<div class="banner__trek-book">
				<p class="trek-book">
					<span class="trek-book--btn">
<!--						<a href="javascript:void(0);" style="display: block; margin-top: 3em;">-->
<!--							<a href="{{ page.bookLink }}" rel="im-checkout" data-layout="vertical" style="display: block; margin-top: 3em;">-->

							<button class="trippy_btn more-trippy_btn" type="submit" name="sendMsg" onclick="imPop();">
								<span class="trippy_btn-left"></span>Book Now<span class="trippy_btn-right"></span>
							</button>
<!--							</a>-->
					</span>
				</p>
			</div>

			<span class="banner__skip">
					<a class="skipToContent-trigger" href="#content" style="padding: 1em 1.08em; background: rgba(0,0,0,.4); color:#39ff41; border-radius: 360px;"><i class="fas fa-leaf" style="transform: rotate(135deg); font-size: 1em;"></i></a>
			</span>
		</div>

<div style="position: relative; padding-top: 5em;" class="row row--padding-medium content container--white" id="content">
<span style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('{{ 'assets/css/images/static.gif' | absolute_url }}') repeat center; opacity: .05; z-index: -1;"></span>
    {{ content }}
</div>

{% if page.disableRelTrek != 'yes' %}
<div class="row content" style="padding: 0 0 4em 0;">
	<h1 class="content__sub-title content__title-white no-underline" style="margin-bottom: 0; color: #333;">Related Treks</h1>

	<div class="slider-wrapper trek" style="">
	  <button class="slide-center-prev"><span><i class="fas fa-chevron-left"></i></span></button>
	  <div class="trek-slider center">

		{% for trek in site.treks offset:0 limit:10 %}
			{% if trek.url != page.url %}
				{% if trek %}
				 <div class="slide trek-slide">
				  	<a href="{{ trek.url }}">
				  	<img class="trek-slide--img trek-slide0" style="background: url('/assets/css/images/{{ trek.custom_thumb}}') no-repeat center; background-size: cover;">
					  <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> {{ trek.price }}/-</span>

					<div class="trek-slide--text">
						<div class="trek-slide--meta">
							<div class="">
								<span>{{trek.days}}</span>
								<span class="meta-type"><i class="far fa-clock"></i> Days</span>
							</div>
							<div class="">
								<span>{{ trek.altitude }}</span>
								<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
							</div>
							<div class="">
								<span>Easy</span>
								<span class="meta-type"><i class="fa fa-tachometer-alt"></i> {{ trek.grade }}</span>
							</div>
						</div>
						<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> {{ trek.title }}</h2>
					</div>
					</a>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}

	  </div>
	  <button class="slide-center-next"><span><i class="fas fa-chevron-right"></i></span></button>
	</div>
</div>
{% endif %}


<script>

	//Accordion - all open at a Time
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight){
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		}
	  });
	}
</script>

<!--<script src="https://js.instamojo.com/v1/button.js"></script>-->
<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script>
	function imPop(){
		Instamojo.open('{{ page.bookLink}}');
	}
</script>
