---
layout: 'default'
slick_css: 'Yes'
slick_js: 'Yes'
author_name: "THE TRIPPY FROG "
tags: "Trekkings, Himachal-Pradesh"
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "The Trippy Frog",
  "image": "{{ site.url }}/assets/css/images/{{ page.custom_bg | default: site.img }}",
  "url": "{{ site.url }}{{ page.url }}",
  "telephone": "9805281452",
  "priceRange": "$100 - $500",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "V.P.O Raison",
    "addressLocality": "Kullu",
    "postalCode": "175128",
    "addressCountry": "IN"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 32.039375,
    "longitude": 77.1324272
},
"hasMap": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13525.534262300927!2d77.1349239!3d32.0588729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c9c798dbeb6e498!2sTHE%20TRIPPY%20FROG!5e0!3m2!1sen!2sin!4v1579107517725!5m2!1sen!2sin\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\"></iframe>",
"sameAs": [
    "https://thetrippyfrog.com/activities/trekking/",
    "https://www.facebook.com/thetrippyfrog/",
    "https://twitter.com/thetrippyfrog",
    "https://www.instagram.com/thetrippyfrog/",
    "https://www.linkedin.com/in/thetrippyfrog/",
    "https://in.pinterest.com/thetrippyfrog/",
    "https://thetrippyfrog.com/"
  ]
}
</script>

<style>
	body{
		height: 100% !important;
	}
</style>


<!-- VARIABLES -->
{% assign trek = site.data.trek-data[page.title-slug] %}

    <div class="popup_form_wrapper">
        <div class="popup_form">

    <!-- Close Btn-->
            <div class="popup_close_btn_wrapper">
                <svg class="popup_close_btn">
                    <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#ffd600"/>
               </svg>
            </div>

    <!-- background Image -->
            <div class="popup_background">

             </div>


            <div class="form_wrapper">

                <div class="text">
                    <h2>Enter Your Email Below To Get 20% Off</h2>
                    <p>Fill the form and get flat 20% Off on your {{ page.title }} + Beas River Rafting Trip.</p>
                </div>

                <form  action="https://formspree.io/thetrippyfrog@gmail.com" method="POST" name="contact_form">

                <div class="textfield_wrapper">
                    <input  class="input_box" type="text" placeholder="Your Name" name="name" autocomplete="off" required >
                </div>
                <div class="textfield_wrapper">
                    <input  class="input_box" type="email" placeholder="Email" name="email" autocomplete="off" required>
                </div>
                <div class="textfield_wrapper">
                    <input class="input_box"  type="text" placeholder="Phone Number" autocomplete="off" name="phone" required>
                </div>

                <div class="textfield_wrapper">
                    <button class="trippy_btn" type="submit" name=""> SEND </button>
                </div>

              <br/>  <div class="text">
                    <p>Don't Worry, We won't spam you..</p>
                </div>

                </form>



            </div>

    </div>

    </div>


{% if page.custom_bg %}
    {% for img in page.custom_bg %}
        {% assign path = 'assets/css/images/' | append: img | relative_url%}
        <div class="banner__trek parallax" style="background-image:url('{{ path }}');">
    {% endfor %}
{% else %}
    {% assign path = 'assets/css/images/welcome.jpeg' | relative_url%}
        <div class="banner__trek parallax" style="background-image: url('{{ path }}')">
{% endif %}
			<span class="banner__overlay"></span>
			<div class="banner__trek-overview">
				<p class="trek-name">{{ page.title }}</p>
				<p class="trek-time">
					{% if trek.days %}
					<span class="trek-time--part1">
						<span class="trek-span"><span class="counter">{{ trek.days }}</span><span>&nbsp;Days</span></span>
					</span>
					<span class="trek-time--part2">
						<span class="trek-span"><span class="counter">{{ trek.nights }}</span><span>&nbsp;Nights</span></span>
					</span><br />
					{% endif %}
<!--					<span class="trek-slide--price trek-price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> {{ trek.price }}/-</span>-->
				</p>

			</div>

			<!-- <div class="banner__trek-book">
				<p class="trek-book">
					<span class="trek-book--btn">
							<button class="trippy_btn more-trippy_btn" type="submit" name="sendMsg" onclick="imPop();">
								<span class="trippy_btn-left"></span>Book Now<span class="trippy_btn-right"></span>
							</button>
					</span>
				</p>
			</div> -->

			<span class="banner__skip">
					<a class="skipToContent-trigger" href="#content" style="padding: 1em 1.08em; background: rgba(0,0,0,.4); color:#39ff41; border-radius: 360px;"><i class="fas fa-leaf" style="transform: rotate(135deg); font-size: 1em;"></i></a>
			</span>
		</div>


<!-- Trek related content here -->
<div class="two-col-layout" id="twoCol">
	<div class="row row--padding-medium content container--white content__left" id="content">
	<span style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('{{ 'assets/css/images/static.gif' | absolute_url }}') repeat center; opacity: .05; z-index: -1;"></span>

		<div style="max-width: 50em; margin: auto;">
			<!-- TREK OVERVIEW -->
			<div class="row container-wide" style="padding-bottom: 3em;">
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fa fa-clock"></i>&nbsp; {{ trek.days }} Days, {{ trek.nights }} Nights
					</p>
				</div>
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fa fa-mountain"></i>&nbsp; Altitude :  {{ trek.altitude }} Ft.
					</p>
				</div>
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fa fa-tachometer-alt"></i>&nbsp; Difficulty : {{ trek.grade }}
					</p>
				</div>
<!--
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fa fa-user"></i>&nbsp; Min-Age : trek.minAge
					</p>
				</div>
-->
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fa fa-users"></i>&nbsp; Group Size : Upto {{ trek.groupSize }} People
					</p>
				</div>
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fas fa-utensils"></i>&nbsp; Food : Breakfast | Lunch | Dinner
					</p>
				</div>
				<div class="col-medium">
					<p class="trek-overview">
						<i class="fas fa-campground"></i>&nbsp; Accomodation : {{ trek.accomodation }}
					</p>
				</div>

                <div class="col-medium">
					<p class="trek-overview">
						<i class="fas fa-calendar"></i>&nbsp; Season : {{ trek.season }}
					</p>
				</div>

                <div class="col-medium">
					<p class="trek-overview">
						<i class="fas fa-globe"></i>&nbsp; Location : {{ trek.location }}
					</p>
				</div>

                <div class="col-medium">
                    <p class="trek-overview">
                        <i class="fas fa-map-marker"></i>&nbsp; Meeting Point : {{ trek.meeting }}
                    </p>
                </div>
			</div>

			<div class="material">



				<!-- <h1 class="content__title content__title-white no-underline" style="padding: 0; margin: 0;"><i class="fas fa-hiking"></i> </h1><br />
				<h1 class="content__sub-title content__title-white no-underline" style="padding-top: 0; margin-bottom: 0; padding-bottom: 1em;">About The Trek
				</h1> -->

    <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/IReipQYzC3w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


				<div class="trek--section" style="text-align: left;">

                    {{ trek.video }}

					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;The Complete Guide to {{ trek.name }}</h2>
					{% for overview in trek.overview %}
						<p class="content--detail">
							{{ overview.content }}
						</p>
					{% endfor %}

				</div>


                <!-- <div class="trek--section" style="text-align: left;">
                    <h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;why {{ trek.name }} ?</h2>
                    {% for why in trek.why %}
                        <p class="content--detail">
                            {{ why.content }}
                        </p>
                    {% endfor %}

                </div>

                <div class="trek--section" style="text-align: left;">
                    <h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;Duration of {{ trek.name }}</h2>
                    {% for time in trek.time %}
                        <p class="content--detail">
                            {{ time.content }}
                        </p>
                    {% endfor %}

                </div>

                <div class="trek--section" style="text-align: left;">
                    <h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;Best season for  {{ trek.name }}</h2>
                    {% for best_season in trek.best_season %}
                        <p class="content--detail">
                            {{ best_season.content }}
                        </p>
                    {% endfor %}

                </div> -->

				<!-- ITINERARY -->
				<div class="trek--section" style="text-align: left;">
					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="fas fa-map-marked-alt"></i>&nbsp;Itinerary</h2>

					<ul class="trek-itinerary">

						{% for i in trek.itinerary %}
							<li>
								<h3 class="itinerary-subtitle">
									{{ i.title }}
								</h3>
								<p class="content--detail itinerary-detail">
									{{ i.content }}
								</p>
							</li>
						{% endfor %}

						<li>
							<h3 class="itinerary-subtitle">TRIP ENDS HERE!</h3>
						</li>
					</ul>

				</div>

				{{ content }}

				<!--GALLERY-->
<!--
				<div class="row row--padding-medium">
					<p class="content__sub-title">TREK GALLERY&nbsp;<i class="fas fa-camera"></i></p>
					<section class="img-gallery-magnific">

					{% for i in (1..5) %}
						{% assign subPath = page.title | remove: "Trek" | slugify | append: "/" %}
						{% assign path = 'assets/css/images/treks/' | append: subPath | relative_url %}
						<div class="magnific-img">
							<a class="image-popup-vertical-fit" href="{{ path }}{{i}}.jpg" title="{{ page.title }}">
								<img src="{{ path }}{{i}}.jpg" alt="{{ page.title }}" />
							</a>
						</div>
					{% endfor %}

					</section>
					<div class="clear"></div>
				</div>
				<br /><br />
-->


				<!-- What We Provide -->
				<div class="trek--section" style="text-align: left;">
					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="fas fa-tasks"></i>&nbsp;What's Included</h2>
                    <p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp; Accomodation : Tents    	<br /></p>
					<p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Camping &amp; Trekking Permits <br /></p>
					<p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Meals on treks only:  Breakfast, Lunch , Dinner.<br /></p>
                    <p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Trekking Equipments Tents, ice axes, ropes micro spikes  etc. 	<br /></p>
					<p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;A professional knowledgeable certified Trekking guide<br /></p>
					<p class="content__list-item"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Emergency equipment including a  first-aid kit	, medical kit , stretchers<br /></p>

				</div>



				<!-- What We Don't Provide -->
				<div class="trek--section" style="text-align: left;">
					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="fas fa-times"></i>&nbsp;What's Not Included</h2>
					<p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;All The Thing That Are Not Mentioned In Including Section<br /></p>
                    <!-- <p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Stay at Manali on the last day <br /></p> -->
                    <p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Flights / Transportation to and from the meeting point <br /></p>
                    <p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Personal Expenses <br /></p>
                    <p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Travel Insurance <br /></p>
					<p class="content__list-item"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Personal Porters for carrying trekker’s backpacks<br /></p>
					<p class="content__list-item" style="text-indent: 2em; padding-top: 1em;">

					</p>
				</div>


				<!-- Things To Pack -->
				<div class="trek--section list-light" style="text-align: left;">
					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="fas fa-suitcase"></i>&nbsp;Things To Pack</h2>

					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Backpack: </span>50-60 liters backpack with good hip & soulder support and quick access pockets<br /></p>
                    <p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Trekking Shoes: </span>water proof trekking shoes with good grip and ankle supports<br /></p>
                    <p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Sleeping Bag: </span>Since we will be going camping, hiking and what not, a sleeping bag can come in handy to have a good night sleep anywhere.<br /></p>
                    <p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Head Gear: </span>Head torch with extra batteries , suncap <br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Clothing: </span> You need to have warm clothes with three-layer jackets, fleece or down feather jacket. two t-shirts with full sleeves quick dry material. For lowers carry cotton pants suitable for trek. Do no carry jeans or shorts for trekking.<br /></p>
                    <p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Raincoat/Ponchos: </span>At high altitudes, snowfall and rain are quite common and it’s mandatory to carry a poncho or raincoat so that one doesn’t get wet.<br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Socks: </span>Carry 2 - 3 pair of sports socks along with woolen socks to be worn at night.<br /></p>
                    <p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;"> Trekking Poles : </span>pair of trekking poles will make the difference between a comfortable and a strenuous trek<br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Sunglasses: </span>To protect from sunlight in snow you require UV rays protected sunglasses.<br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Woolen Cap and Gloves are also necessary as the climate will be cold. Carry waterproof gloves as they get wet in snow.<br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;<span style="font-weight: bold;">Food &amp; Water: </span>2-3 liters of water bottle ,energy bars, dry fruits,glucon d ,ors powder<br /></p>
					<p class="content__list-item"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Sunscreen, Toiletries and personal items.<br /></p>
					<p class="content__list-item" style="text-indent: 2em; padding-top: 1em;">

					</p>
				</div>


                <div class="trek--section list-light" style="text-align: left;">
                        <h2 class="content__sub-title" style="padding-bottom: 0;"><i class="fa fa-question-circle"></i>&nbsp;Frequently Asked question</h2>

                    <!-- <div id='content' class="row row--padding-medium"> -->

            			<!--Itinerary-->
            			<button class="accordion">Can i Book on My Own ?
            				<span class="accordion-sign"><span class="VLine"></span><span class="HLine"></span></span>
            			</button>
            			<div class="panel">
            				<div style="padding: 1em 0;">
            					<p> Sure can! Over 50% of our travellers travel solo, it’s a great way to meet like-minded people.<br /></p>

            				</div>
            			</div>
            			<button class="accordion">What Is Food Like At Trek ?
            				<span class="accordion-sign"><span class="VLine"></span><span class="HLine"></span></span>
            			</button>
            			<div class="panel">
                            <div style="padding: 1em 0;">
            					<p> Breakfast and dinner cooked over the campfire with sandwiches for lunch<br /></p>

            				</div>
            			</div>
            			<button class="accordion">Can I Store my Luggage Somewhere ?
            				<span class="accordion-sign"><span class="VLine"></span><span class="HLine"></span></span>
            			</button>
            			<div class="panel">
                            <div style="padding: 1em 0;">
                                <p>  Yes - when you arrive at the base you’ll be asked to transfer anything you need for the trip into drybags to take with you.
                                     You can leave anything you don’t need behind to be safely secured in a locker which you’ll collect again at the end of the trip<br /></p>
                            </div>
            			</div>
            			<!-- <button class="accordion">What travel insuarance do you recommend ?
            				<span class="accordion-sign"><span class="VLine"></span><span class="HLine"></span></span>
            			</button>
            			<div class="panel">
                            <div style="padding: 1em 0;">
                                <p>  We’ve teamed up with the guys at World Nomads to offer insurance designed for adventurous travellers across 140 countries that includes overseas medical,
                                     evacuation, baggage and a range of adventure sports and activities. To get yours sorted, click here. We suggest that you book travel insurance as soon as
                                     you book the trip, just to cover you for any last minute life changes. We know you’re an active lot and injuries do happen!<br /></p>
                            </div>
            			</div> -->

                    <!-- </div> -->

                </div>

				<!-- Mandatory Documents -->
				<div class="trek--section" style="text-align: left;">
					<h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;Mandatory Documents</h2>
					<p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Identification document<br /></p>
					<p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Trek Registration Form<br /></p>
                    <!-- <p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Download Pdf Itinerary
                        <a target='_blank' href='{{ trek.download }}' class='button'><i class='fa fa-download'></i> </a> <br />
                    </p> -->
					<p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Medical Certificate
                        <a target="_blank" href="{{ site.url }}//assets/docs/certificate.pdf" class="button"><i class="fa fa-download"></i></a> <br />
                    </p>
                    <p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Indemnity Bond
                        <a target="_blank" href="{{ site.url }}//assets/docs/Indemnity_bond.pdf" class="button"><i class="fa fa-download"></i></a> <br />
                    </p>
                    <!-- <p>
                       <a href="{{ site.url }}//assets/docs/certificate.pdf" class="button"><i class="fa fa-download"></i></a>
                    </p> -->
					<p class="content__list-item" style="text-indent: 2em; padding-top: 1em;"></p>
				</div>


                <!-- Mandatory Documents -->
                <div class="trek--section" style="text-align: left;">
                    <h2 class="content__sub-title" style="padding-bottom: 0;"><i class="far fa-file-alt"></i>&nbsp;Cancellation Policy</h2>
                    <p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;More than 30-days prior to departure - 50% refund.<br /></p>
                    <p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;In Between 15-30-days prior to departure - 25% refund.<br /></p>
                    <p class="content__list-item"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Less than 15-days prior to departure - No Refund.<br /></p>

                    <p class="content__list-item" style="text-indent: 2em; padding-top: 1em;"></p>
                </div>
			</div>

			<!-- Note -->
			<div class="row row--padding-medium" style="margin: 1em 0; border: 1px solid #cacaca; border-left: 0; border-right: 0;">
				<p class="content__pg" style="clear: both; padding-bottom: 0em; background: red;"><strong style="font-weight: bold; color: #fff;padding-left: 1.5em;">NOTE <i class="fas fa-bullhorn"></i> </strong></p><br />
				<ul class="content__list">
                    <li class="content__list-item">
                        All our adventures take place in wild places. Things can go wrong in wild places.
                        Your perfectly planned itinerary may change a bit (or a lot) if the weather turns,
                        someone gets hurt, or a landslide takes place. Usually though, changes make it all the better.
					</li>
					<li class="content__list-item">
						Please be sure of the risks included in the adventure
					</li>
					<li class="content__list-item">
						You should be medically fit to do the trek. Please consult your doctor to check if you are fit for the trek.
					</li>
                    <li class="content__list-item">
						Please don’t litter on the trek Consumption of alcohol or any other intoxicant is not allowed
					</li>

                    <div class="columns download">

                   </div>

				</ul>
			</div>
    	</div>

	</div>

	<!--SideBar-->
	<div class="content__right" id="scroll-to">
		<div class="floater">
				<span class="priceTag">FROM Rs.<!--<i class="fa fa-rupee-sign"></i>-->{{ trek.price }}</span>
				<button class="book_btn" onclick="imPop();" type="submit" style="width: 100%;  font-size: 1.5em; box-shadow: 0 0 13px #2f2f2f; border-radius: 360px;">BOOK NOW</button>
				<br /><br />
				<button class="book_btn enquiry" onclick="javascript:alert('Contact Form NOT Found!');" type="submit" style="width: 100%;  font-size: 1.5em; border-radius: 360px;">ENQUIRY</button>
				<br /><br />
		</div>
	</div>
</div>


<!-- Related Treks - Slider -->
{% if page.disableRelTrek != 'yes' %}
<div class="row content" style="padding: 0 0 4em 0;">
	<h1 class="content__sub-title content__title-white no-underline" style="margin-bottom: 0; color: #333;">Related Treks</h1>

	<div class="slider-wrapper trek" style="">
	  <button class="slide-center-prev"><span><i class="fas fa-chevron-left"></i></span></button>
	  <div class="trek-slider center">

		{% for trek in site.treks offset:0 limit:10 %}
			{% if trek.url != page.url %}
				{% if trek %}
		  		{% assign relTrek = site.data.trek-data[trek.title-slug] %}
				 <div class="slide trek-slide">
				  	<a href="{{ trek.url }}">
				  	<img class="trek-slide--img trek-slide0" style="background: url('/assets/css/images/{{ trek.custom_thumb}}') no-repeat center; background-size: cover;">
					  <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> {{ relTrek.price }}/-</span>

					<div class="trek-slide--text">
						<div class="trek-slide--meta">
							<div class="">
								<span>{{relTrek.days}}</span>
								<span class="meta-type"><i class="far fa-clock"></i> Days</span>
							</div>
							<div class="">
								<span>{{ relTrek.altitude }} Ft.</span>
								<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
							</div>
							<div class="">
								<span>{{ relTrek.grade }}</span>
								<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
							</div>
						</div>
						<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> {{ trek.title }}</h2>
					</div>
					</a>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}

	      </div>
	      <button class="slide-center-next"><span><i class="fas fa-chevron-right"></i></span></button>
	    </div>
    </div>
{% endif %}


        <!--<script src="https://js.instamojo.com/v1/button.js"></script>-->

    <script src="https://js.instamojo.com/v1/checkout.js"></script>

    <script>
	function imPop(){
		Instamojo.open('{{ trek.bookLink}}');
	}


    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }

    </script>
